<a href="https://colab.research.google.com/github/shoulhafiz/MANB2153/blob/master/Quiz2-Muhammad%20Nor%20Hafiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation
from keras.optimizers import SGD
from sklearn.model_selection import train_test_split
from keras.utils import to_categorical
import pandas as pd

Using TensorFlow backend.

In [3]:
df = pd.read_csv('heart.csv')
df.sample(3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
81,45,1,1,128,308,0,0,170,0,0.0,2,0,2,1
220,63,0,0,150,407,0,0,154,0,4.0,1,3,3,0
268,54,1,0,122,286,0,0,116,1,3.2,1,2,2,0

In [19]:
y = to_categorical(df.target)
X = df.drop('target', axis=1)
print("X:",X.sample(3))

X:      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
152   64    1   3       170   227    0        0      155      0      0.6
145   70    1   1       156   245    0        0      143      0      0.0
265   66    1   0       112   212    0        0      132      1      0.1

     slope  ca  thal
152      1   0     3
145      2   0     2
265      2   1     2

In [0]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [25]:
n_cols = X.shape[1]
model = Sequential()
# Dense(64) is a fully-connected layer with 64 hidden units.
# in the first layer, you must specify the expected input data shape:
# here, 20-dimensional vectors.
model.add(Dense(64, activation='relu', input_shape=(n_cols,)))
model.add(Dropout(0.5))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(2, activation='softmax'))

sgd = SGD(lr=0.01, decay=1e-6, momentum=0.9, nesterov=True)
model.compile(loss='categorical_crossentropy',
              optimizer=sgd,
              metrics=['accuracy'])

model.fit(x_train, y_train,
          epochs=20,
          batch_size=128)
score = model.evaluate(x_test, y_test, batch_size=128)

Epoch 1/20
212/212 [==============================] - 0s 2ms/step - loss: 7.7031 - acc: 0.5047
Epoch 2/20
212/212 [==============================] - 0s 52us/step - loss: 8.2255 - acc: 0.4623
Epoch 3/20
212/212 [==============================] - 0s 36us/step - loss: 8.4638 - acc: 0.4670
Epoch 4/20
212/212 [==============================] - 0s 35us/step - loss: 8.4768 - acc: 0.4717
Epoch 5/20
212/212 [==============================] - 0s 46us/step - loss: 7.6216 - acc: 0.5189
Epoch 6/20
212/212 [==============================] - 0s 47us/step - loss: 7.6034 - acc: 0.5236
Epoch 7/20
212/212 [==============================] - 0s 35us/step - loss: 7.1333 - acc: 0.5566
Epoch 8/20
212/212 [==============================] - 0s 33us/step - loss: 8.9973 - acc: 0.4387
Epoch 9/20
212/212 [==============================] - 0s 29us/step - loss: 8.8954 - acc: 0.4481
Epoch 10/20
212/212 [==============================] - 0s 32us/step - loss: 8.2111 - acc: 0.4906
Epoch 11/20
212/212 [==============================] - 0s 51us/step - loss: 7.4508 - acc: 0.5377
Epoch 12/20
212/212 [==============================] - 0s 36us/step - loss: 7.8310 - acc: 0.5142
Epoch 13/20
212/212 [==============================] - 0s 32us/step - loss: 7.9830 - acc: 0.5047
Epoch 14/20
212/212 [==============================] - 0s 43us/step - loss: 8.8193 - acc: 0.4528
Epoch 15/20
212/212 [==============================] - 0s 40us/step - loss: 7.6029 - acc: 0.5283
Epoch 16/20
212/212 [==============================] - 0s 31us/step - loss: 7.9830 - acc: 0.5047
Epoch 17/20
212/212 [==============================] - 0s 28us/step - loss: 8.1351 - acc: 0.4953
Epoch 18/20
212/212 [==============================] - 0s 29us/step - loss: 8.0590 - acc: 0.5000
Epoch 19/20
212/212 [==============================] - 0s 25us/step - loss: 7.8310 - acc: 0.5142
Epoch 20/20
212/212 [==============================] - 0s 25us/step - loss: 8.2871 - acc: 0.4858
91/91 [==============================] - 0s 2ms/step