In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('gapminder.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10111 entries, 0 to 10110
Data columns (total 8 columns):
Country            10111 non-null object
Year               10111 non-null int64
fertility          10100 non-null float64
life               10111 non-null float64
population         10108 non-null float64
child_mortality    9210 non-null float64
gdp                9000 non-null float64
region             10111 non-null object
dtypes: float64(5), int64(1), object(2)
memory usage: 632.0+ KB

In [4]:
df.describe()

,Year,fertility,life,population,child_mortality,gdp
count,10111.000000,10100.000000,10111.000000,1.010800e+04,9210.000000,9000.000000
mean,1988.514588,4.028719,64.078600,2.560448e+07,80.834505,12746.916667
std,14.430849,2.013968,11.122779,1.032383e+08,79.220942,17797.809953
min,1964.000000,0.836000,6.000000,1.170000e+03,2.000000,142.000000
25%,1976.000000,2.175750,56.282500,8.874062e+05,18.900000,2263.000000
50%,1989.000000,3.632500,67.157000,4.765781e+06,50.700000,6438.500000
75%,2001.000000,5.905250,72.484000,1.476995e+07,121.775000,15887.250000
max,2013.000000,9.223000,83.580000,1.359368e+09,435.800000,182668.000000

In [5]:
64.078600

64.0786

In [6]:
df_new=df.dropna()

In [7]:
y = df_new['life'].values
X = df_new['fertility'].values

In [8]:
print("Dimensions of y before reshaping: {}".format(y.shape))
print("Dimensions of X before reshaping: {}".format(X.shape))

Dimensions of y before reshaping: (8836,)
Dimensions of X before reshaping: (8836,)

In [9]:
y = y.reshape(-1,1)
X = X.reshape(-1,1)

In [10]:
# Print the dimensions of X and y after reshaping
print("Dimensions of y after reshaping: {}".format(y.shape))
print("Dimensions of X after reshaping: {}".format(X.shape))

Dimensions of y after reshaping: (8836, 1)
Dimensions of X after reshaping: (8836, 1)

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
reg = LinearRegression()

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=42)

In [15]:
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [16]:
y_pred = reg.predict(X_test)

In [18]:
print("R^2: {}".format(reg.score(X_test, y_test)))

R^2: 0.6993214263212586